@using System.Web.Optimization

@{
    ViewBag.Title = "Compensations";
}
@section styles
{
    @Styles.Render("~/Content/css/import")
}
@section scripts
{
    @Scripts.Render("~/bundles/import")
}

<div class="import-container">
    @using (Html.BeginForm("Template", "Import", FormMethod.Post))
    {
        <div class="input-group">
            @Html.DropDownList("importOption", ViewBag.ImportOptions as SelectList, new { id = "importSelect" })
        </div>
        <div class="input-group">
            <input type="submit" value="Download Template" />
        </div>
    }

    <div class="input-group">
        <div class="col-half">
            <input data-bind="event: { change: () => file = $element.files[0] }" type="file" id="import-file" />
        </div>
    </div>
    <div class="input-group">
        <div class="col-half">
            <button data-bind="click: { single: imp.upload }">Import</button>
        </div>
    </div>
</div>