.side-panel-list-wrapper {
    max-width: 44em;
    margin: 2em auto;
    font-family: Montserrat-Medium;
}

.side-panel-list-wrapper span {
    font-size: 13px;
    font-family: Montserrat-Medium;
    cursor: pointer;
    text-decoration: underline;
    color: cornflowerblue;
}

.side-panel-list {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.side-panel-item {
    border-bottom: 1px solid #e6e6fa;
    height: 25px;
    margin:  0;
    font-size: 17px;
    height: 35px;
}
    .side-panel-item:last-of-type {
        border-bottom: 0;
    }

.side-panel-item p {
    padding: 5px 10px;
}
.side-panel-item a {
    top: -40px;
    right: -630px;
    position: relative;
    width: 0;
    padding: 3px 6px;
    font-size: 25px;
}
.side-panel-list .rejected {
    border: 1px solid #dc143c;
}