.sidenav {
    display: none;
    height: 100%;
    width: 800px;
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff;
    overflow-x: hidden;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 45px;
    padding: 10px;
}