@{
    ViewBag.Title = "Compensations";
}

<link href="~/Content/Compensation/compensation.css" rel="stylesheet">
<link href="~/Content/Compensation/side-panel.css" rel="stylesheet">
<link href="~/Content/Compensation/side-panel-list.css" rel="stylesheet">
<link href="~/Content/Compensation/side-panel-form.css" rel="stylesheet">
<script src="~/Scripts/Compensation/common.js"></script>
<script src="~/Scripts/Compensation/table.js"></script>
<script src="~/Scripts/Compensation/side.panel.js"></script>
<script src="~/Scripts/Compensation/side.panel.list.js"></script>
<script src="~/Scripts/Compensation/side.panel.form.js"></script>

<div>
    @Html.ActionLink("Logout", "Logout", "Account")
    <h2>Compensations</h2>

    @Html.Partial("Table/_Table")
    @Html.Partial("SidePanel/_SidePanel")
</div>

<!-- ko with: alert -->
<div class="tn-box tn-box-hoverpause">
    <p data-bind="text: alert.message"></p>
</div>
<!-- /ko -->