@{
    ViewBag.Title = "Compensations";
}

<link href="~/Content/Compensation/compensation.css" rel="stylesheet">
<link href="~/Content/Compensation/side-panel.css" rel="stylesheet">
<script src="~/Scripts/Compensation/compensation-side-panel.js"></script>
<script src="~/Scripts/Compensation/compensation.js"></script>
<script src="~/Scripts/Compensation/compensation-new.js"></script>

<h2>Compensations</h2>

<div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Employee name</th>
                <th>January</th>
                <th>February</th>
                <th>March</th>
                <th>April</th>
                <th>May</th>
                <th>June</th>
                <th>July</th>
                <th>August</th>
                <th>September</th>
                <th>October</th>
                <th>November</th>
                <th>Decemper</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: co.compensations">
            <tr data-bind="click: { double: coSide.show }">
                <td data-bind="text: Employee.Name"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- ko with: coSide -->
<div data-bind="if: coSide.isOpened" id="sidenav" class="sidenav">
    <a data-bind="click: { single: coSide.hide }" href="javascript:void(0)" class="closebtn">&times;</a>
    <p data-bind="text: coSide.employeeCompensations().Employee.Name"></p>
    
    <div class="compensations-list">
        <ul data-bind="foreach: coSide.employeeCompensations.CompensationPromotions">
            <li data-bind="$data"></li>
        </ul>
    </div>
    
    <form data-bind="submit: coNew.submitHandler">
        <select data-bind="options: co.promotionTypes,
                optionsText: 'name',
                optionsValue: 'id',
                value: coNew.promotionType"></select>
        <input data-bind="value: coNew.value"/>
        <select data-bind="options: co.currencies,
            optionsText: 'Name',
            optionsValue: $data,
            value: coNew.currency"></select>
        <input data-bind="value: coNew.applyDate" type="date"/>
        <textarea data-bind="value: coNew.comment"></textarea>
        <button type="submit">Add Compensation</button>
    </form>
</div>
<!-- /ko -->