<div id='cssmenu'>
    <ul>
        <li><a href='/'><span>Compensation</span></a></li>
        <li><a href='/Import'><span>Import</span></a></li>
        <li class='last'><a href='/Export'><span>Export</span></a></li>
        <li class='last align-right'><a href='/Account/Logout'><span>Logout</span></a></li>
        <img src="~/Resources/Images/analyst-placeholder-avatar.png" class="align-right" />
        <li class="align-right"><a><span>@User.Identity.Name</span></a></li>
    </ul>
</div>