<form data-bind="submit: cosideform.submitHandler">
    <select data-bind="options: co.promotionTypes,
                value: cosideform.promotionType,
                event: { change: cosideform.triggerIsSalary }"></select>
    <select data-bind="options: coside.employeeLegalEntities,
                optionsText: 'Name',
                optionsValue: $data,
                value: cosideform.legalEntity"></select>
    <input data-bind="value: cosideform.value" />
    <select data-bind="options: co.currencies,
            optionsText: 'Name',
            optionsValue: $data,
            value: cosideform.currency"></select>
    <div data-bind="if: cosideform.isSalary">
        <select data-bind="options: co.salaryTypes,
                value: cosideform.salaryType"></select>
    </div>
    <input data-bind="value: cosideform.applyDate" type="date" />
    <textarea data-bind="value: cosideform.comment"></textarea>
    <button type="submit">Add Compensation</button>
</form>