<div class="side-header">
    <a data-bind="click: { single: coside.hide }" href="javascript:void(0)" class="closebtn">&times;</a>
    <div class="info">
        <img src="~/Resources/Images/analyst-placeholder-avatar.png" />
    </div>
    <div class="info">
        <p data-bind="text: cosidehead.employeeName()"></p>
        <div class="small">
            <p data-bind="text: co.employeeJobFunction()"></p>
            <p data-bind="text: cosidehead.employeeLocation()"></p>
        </div>
    </div>
</div>