<div data-bind="foreach: coside.employeeCompensations().CompensationPromotions" class="side-panel-list">
    <div data-bind="css: { compensationApproved: cosidelist.isApproved, compensationRejected: !cosidelist.isApproved }" class="side-panel-item">
        <p data-bind="text: cosidelist.getListItemPreview($data)"></p>
    </div>
</div>