<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver7 m-b-110">
                <table data-vertable="ver7">
                    <thead>
                        <tr class="row100 head">
                            <th class="column100">Employee name</th>
                            <th class="column100">Job Function</th>
                            <th class="column100">January</th>
                            <th class="column100">February</th>
                            <th class="column100">March</th>
                            <th class="column100">April</th>
                            <th class="column100">May</th>
                            <th class="column100">June</th>
                            <th class="column100">July</th>
                            <th class="column100">August</th>
                            <th class="column100">September</th>
                            <th class="column100">October</th>
                            <th class="column100">November</th>
                            <th class="column100">Decemper</th>
                            <th class="column100">Total</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: cotable.compensations">
                        <tr data-bind="html: cotable.buildRow($data), click: { double: coside.show }" class="row100"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>