.tn-box {
    width: 360px;
    max-height: 80px;
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.6);
    opacity: 0;
    z-index: 99999;
    display: none;
    overflow: hidden;
}

.tn-box-color-error {
    background: #ff6347;
    border: 1px solid #ff0000;
}

.tn-box-color-success {
    background: #99ffb1;
    border: 1px solid #7ce294;
}

.tn-box.tn-box-active {
    display: block;
    animation: fadeOut 5s linear forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        top: 20px;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
        transform: translateY(0px);
    }

    99% {
        opacity: 0;
        top: 20px;
        transform: translateY(-30px);
    }

    100% {
        opacity: 0;
        top: -1000px;
    }
}

.tn-box.tn-box-hoverpause:hover {
    animation-play-state: paused;
}
